.maintekst {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}
.esi {
  opacity: 0;
  transition: all 0.4s ease;
}
.esi.fade {
  opacity: 1;
}
#soovitused {
  text-align: justify;
  margin-left: 35%;
  font-size: 120%;
  font-family: "Calibri";
  line-height: 50px;
}
hr {
  margin: 3% auto;
  border-top: 2px solid black;
  width: 10%;
  text-align: center;
}