.maintekst {
    height: 500px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}
.left {
    float: right;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
#left2 {
    float: right;
    width: 45%;
}
#right2 {
    float: right;
    width: 55%;
}
#videopealkiri {
    text-align: center;
}
#video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}