.scrolling-box {
    margin: 0px;
    background-color: antiquewhite;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.headertext {
    color:rgb(255, 255, 255);
    font-family: 'Blackadder ITC';
    font-size:144px;
    padding-left: 75px;
    text-shadow: 3px 3px 5px black;
}
p {
    font-family: 'Calibri';
    font-size: 120%;
}

h2 {
    font-family: 'Calibri';
}
h1 {
    font-family: 'Calibri';
    font-size: 300%;
}
.body{
    width: auto;
}
.pilt{
    background-image: url("banner.jpg");
    height: 180px;
    padding-top: 25px;
    background-position: center;
    background-size: cover;
}
.nupud {
    background-color:rgb(36, 32, 32);
    color:white;
    padding: 23px;
    text-align: center;
    overflow: hidden;
}
.nupud .nupp {
    font-family: 'Calibri';
    color: white;
    text-align: center;
    padding: 80px;
    text-decoration: none;
    font-size: 120%;
    transition: 0.2s;
}
.nupud :hover {
    background-color: rgb(78, 78, 78);
}
#aasta {
    text-align: center;
    font-family: 'Calibri';
    margin: 0;
    padding-bottom: 10px;
}
.jalus {
    background-color:rgb(36, 32, 32); 
    color: rgb(255, 255, 255);
}
.jalustekst {
    margin: 10px 30px;
}